* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  /* font-size: 10px; */
}
:root {
  --primary: #eb6440;
  --secondary: #497174;
  --tertiary: #d6e4e5;
}
.btn {
  background: none;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  cursor: pointer;
  margin-top: 0.5rem;
}
.btn:hover {
  color: #fff;
  background: var(--secondary);
  border: 2px solid var(--secondary);
}
input {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  /* color: #f2f2f2; */
}
h1,
h3 {
  font-size: 1.2em;
  color: var(--primary);
}
h2 {
  font-size: 1.1em;
}
h4 {
  font-size: 1.1em;
  color: var(--primary);
}
.leading {
  font-size: 1.1em;
}
.center {
  text-align: center;
}

/* mobile */
/* NAV */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.site-nav {
  padding: 1em;
  background-color: var(--primary);
  color: #fff;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.site-nav ul,
.site-nav li {
  visibility: hidden;
  height: 0;
}

/* .site-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  float: right;
} */

.site-nav p {
  grid-row: 1;
  grid-column: 1/4;
}
.fa-bars {
  grid-column: 9/9;
  cursor: pointer;
}

/* HERO */
#home {
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0;
}
.hero-text {
  grid-column: 1/9;
}
.hero-text h1 {
  grid-row: 1;
  grid-column: 4/9;
  color: var(--primary);
}
.hero-text h2 {
  grid-row: 2;
  grid-column: 4/9;
  font-size: 0.8rem;
  padding-bottom: 2rem;
  color: var(--secondary);
}
.hero-text p {
  grid-row: 3;
  grid-column: 4/8;
  color: var(--secondary);
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
}

#company {
  display: grid;
  grid-column: 1/8;
  margin-top: 2rem;
}
.company-header {
  grid-column: 1/9;
  grid-row: 1;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--secondary);
}
.company-text-summary {
  grid-row: 2;
  grid-column: 1/9;
  padding: 0 2rem;
  padding-bottom: 2rem;
}
.company-text-summary p {
  margin-bottom: 0.5rem;
}
.company-text-skills {
  grid-column: 1/9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
  background-color: var(--secondary);
  color: white;
}
.company-text-skills div {
  padding: 2rem 1rem;
  text-align: center;
}
.company-text-skills > div > h4 {
  padding-bottom: 1rem;
}

/* SERVICES */
#services {
  margin: 2rem 0;
  text-align: center;
}
.services > li {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border: 5px solid var(--secondary);
  border-radius: 20px;
}
.services > li > img {
  height: 75%;
  max-width: 100%;
}

#contact {
  padding: 0 2rem;
  grid-column: 2/8;
}
.contact-form > div {
  text-align: center;
}
.contact-form input {
  width: 100%;
  padding: 1rem;
  margin: 0.25rem 0;
}

/* FOOTER */
footer {
  background-color: var(--primary);
  margin-top: 3rem;
  color: white;
  text-align: center;
}
.col1,
.col2 {
  grid-row: 1;
  padding: 0.5rem;
}
.col1 {
  grid-column: 2/5;
}
.col2 {
  grid-column: 5/8;
}
.copyright {
  grid-row: 2;
  grid-column: 1/9;
  text-align: center;
  padding: 0.5rem;
}

/* small tablet */
@media screen and (min-width: 620px) {
  /* nav */
  .fa-bars {
    visibility: collapse;
  }
  .site-nav ul {
    grid-row: 1;
    visibility: visible;
    display: flex;
    grid-column: 4/9;
    align-items: center;
    gap: 1rem;
    height: 100%;
  }
  .site-nav li {
    visibility: visible;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .site-nav > ul > li > a {
    color: #fff;
  }
}

/* large tablet */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 1.5em;
  }
  #home {
    padding: 10rem 0;
  }

  #company {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .company-text-skills > div {
    padding: 5rem 2rem;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 1.2rem;
  }
  .services li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: var(--tertiary);
    padding: 1.2em;
  }

  #contact {
    /* padding: 0 2rem; */
    grid-column: 4/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form {
    width: 50%;
  }
  .contact-form input {
    width: 100%;
    padding: 1rem;
    margin: 0.25rem 0;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  #company {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
  }
  .company-header {
    padding: 3rem;
  }
  .company-text-skills {
    padding: 2rem;
  }

  #services {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .contact-form {
    width: 40%;
  }
}
